* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

.inner-title:first-child {
    text-align: center;
}

.inner__button-item:last-child {
    display: block;
}