<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="logo logo--line">
                <a class="logo__link" href="#">
                    <img class="logo_img" src="" alt="">
                </a>
            </div>
            <div class="footer_ social">
                <a class="footer__social-link" href="#">FACEBOOK</a>
                <a class="footer__social-link" href="#">TWITTER</a>
                <a class="footer__social-link" href="#">GOOGLE+</a>
                <a class="footer__social-link" href="#">BEHANCE</a>
                <a class="footer__social-link" href="#">DRIBBLE</a>
                <a class="footer__social-link" href="#">INSTAGRAM</a>
            </div>
            <div class="footer__contacts">
                <div class="footer__contacts-address">Mese Selimovica 52, Banja Luka - BiH</div>
                <a class="footer__contacts-phone" href="tel:0038765252222">(00387) 65 252 222</a>
                <a class="footer__contacts-email" href="mailto:info@mail.com">info@mail.com</a>
            </div>
            <button class="footer-to__top-btn"></button>
        </div>
        <div class="footer__copy">@2015 Oxygen Theme</div>
    </div>
</footer>