<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">
                <div class="logo">
                    <a class="logo__link" href="#">
                        <img class="logo_img" src="" alt="">
                    </a>
                </div>
                <nav class="menu">
                    <ui class="menu_list">
                        <li class="menu__list-item">
                            <a class="menu__link menu__link--active" href="#">HOME</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__link" href="#">ABOUT US</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__link" href="#">PORTFOLIO</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__link" href="#">OUR TEAM</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__link" href="#">BLOG</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__link" href="#">CONTACT</a>
                        </li>
                    </ui>
                </nav>
            </div>
        </div>
    </div>
    <div class="header__content">
        <div class="container">
            <div class="header__content-inner">
                <h1 class="header__content-title">OXYGEN</h1>
                <p class="header__content-description">STARTER UI KIT</p>
                <div class="header__content-decor"></div>
            </div>
        </div>
    </div>
</header>